﻿@model IEnumerable<Textor.Models.FaqViewModel>
<div id="wrapper">
    <div class="body-content">
        <h3 id="faqGreeting">
            Algengar Spurningar
        </h3>

        <dl class="faqList">
            @foreach (var item in Model)
            {
                <dt>
                    @Html.DisplayFor(modelItem => item.question)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.answer)
                </dd>
                <dd>
                    <a href="@Html.DisplayFor(modelItem => item.link)">@Html.DisplayFor(modelItem => item.link)</a>
                </dd>
            }
        </dl>
    </div>
</div>