﻿@model IEnumerable<Textor.Models.FileViewModel>

@if(Model == null || Model.Count() == 0)
{
	<div>
		<p>
			No Files
		</p>
	</div>
}
else
{ 
<ul>
	@foreach(var item in Model)
	{
		<li>
			<div>
				<p>
					@item.language
				</p>
			</div>
			<div>
				<p>
					@Html.ActionLink("get file", "getFile", "A_Request", new { @translationId = item.translationId, @mediaId = item.mediaId }, null)
				</p>
			</div>
			@if (Request.IsAuthenticated)
            {
			<div>
				<p>
					@Html.ActionLink("Breyta þýðingu", "translateMedia", "Translation", new { @mediaName = item.mediaName, @translationId = item.translationId, @langId = item.LanguageId }, null)
				</p>
			</div>
            <div>
				<p>
                    @using (Html.BeginForm("translateMedia", "Translation", new { enctype = "multipart/form-data" }))
                    {
                        <fieldset>
                            <legend>Þýða á annað tungumál</legend>
                            <input name="mediaName" type="hidden" value="@item.mediaName" />
                            <input name="translationId" type="hidden" value="@item.translationId" />
                            <select name="langId">
                                <option value="1">Íslenska</option>
                                <option value="2">Enska</option>
                                <option value="3">Franska</option>
                            </select>
                            <input type="submit" value="Þýða" class="btn btn-default" />
                        </fieldset>
                    }
				</p>
			</div>
			<div>
				<p>
					@Html.ActionLink("comment", "getCommentsById", "A_CommentView", new { @translationId = item.translationId }, null)
				</p>
			</div>
			}
		</li>
	}

</ul>
}