﻿@model IEnumerable<Textor.Models.A_CommentViewModel>
@{ Layout = null; }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userAvatarUrl)
        </th>
    </tr>

@if (Model != null) 
{ 
    foreach (var item in Model) 
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userAvatarUrl)
        </td>
    </tr>
    }
}
else
{
    <tr><td>no Comments</td></tr>
}

</table>
