﻿@model Textor.Models.CommentViewList

@if (Model.commentModelList.Count() != 0)
{
	for (var i = 0; i < Model.commentModelList.Count(); i++)
	{
		<div><p>@Model.commentModelList[i].userName , said: </p></div>
		<div><p>@Model.commentModelList[i].comment</p></div>
		<div><p>at: @Model.commentModelList[i].dateCreated</p></div>
	}
}


<div class="wrapper">

	@using (Html.BeginForm("addComment", "A_CommentView", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		
		<input type="hidden" name="translationId" value="@Model.translationId" />
		<label for="comment">Post a Comment</label>
		<input type="text" name="comment" />

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Submit Comment" class="btn btn-default" />
			</div>
		</div>
	}

</div>