﻿@model Textor.Models.TranslationModel

<div class="container">
    @if (Model.toTranslate != null && Model.translated != null)
{
using (Html.BeginForm("commitTranslation", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <table>
        <tr>
        <td>
        <ul>
            @for (var i = 0; i < Model.toTranslate.Count(); i++)
            {
                <li>
                    <div class="toBeTranslated">
                        <div class="form-group">
                            @Html.DisplayTextFor(model => model.toTranslate[i].number)
                        </div>
                        <div class="form-group">
                            @Html.DisplayTextFor(model => model.toTranslate[i].startTime)
                        </div>
                        <div class="form-group">
                            @Html.DisplayTextFor(model => model.toTranslate[i].endTime)
                        </div>
                        <div class="form-group">
                            @Html.DisplayTextFor(model => model.toTranslate[i].text)
                        </div>
                    </div>
                </li>
            }
        </ul>
        </td>
        <td>
        <ul>
            @for (var j = 0; j < Model.translated.Count(); j++)
            {
                <li>
                    <div class="translated">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.translated[j].translation)
                            @Html.HiddenFor(model => model.translated[j].startTime)
                            @Html.HiddenFor(model => model.translated[j].endTime)
                            @Html.HiddenFor(model => model.translated[j].number)
                            @Html.DisplayTextFor(model => model.translated[j].number)
                        </div>
                        <div class="form-group">
                            @Html.DisplayTextFor(model => model.translated[j].startTime)
                            <div class="form-group">
                            </div>
                            @Html.DisplayTextFor(model => model.translated[j].endTime)
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.translated[j].text, new { @Value = Model.translated[j].text, @Class = "translatebox"})
                        </div>
                    </div>
                </li>
            }
        </ul>
            </td>
        </tr>
    </table>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit Translation" class="btn btn-default" />
                    </div>
                </div>
                }
            }
        </div>