﻿@model Textor.Models.TranslationModel

@if(Model == null)
{
	<div>wtf !</div>
}
else
{
    if (Model.translated != null)
    {
        for (var i = 0; i < Model.translated.Count(); i++)
        {
           
            <div class="">
                @Html.LabelFor(model => model.translated[i].number, new { @class = "input-group" })
                <div class="">
                    @Html.DisplayTextFor(model => model.translated[i].number)
                </div>
                @Html.LabelFor(model => model.translated[i].startTime, new { @class = "input-group" })
                <div class="">
                    @Html.DisplayTextFor(model => model.translated[i].startTime)
                </div>
                @Html.LabelFor(model => model.translated[i].endTime, new { @class = "input-group" })
                <div class="">
                    @Html.DisplayTextFor(model => model.translated[i].endTime)
                </div>
                @Html.LabelFor(model => model.translated[i].text, new { @class = "input-group" })
                <div class="">
                    @Html.DisplayTextFor(model => model.translated[i].text)
                </div>
            </div>
          
        }
    }
    using (Html.BeginForm("saveSubtitle", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
		@Html.AntiForgeryToken()
    <div class="">
        <h4>Hér býrð þú til nýjan Textor(subtitle)</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <input type="hidden" name="translationId" value="@Model.translationId" />

            <div class="row">
                <p>Athugið að passa vel upp á að formið á tímanum verður að vera í samræmi við sýnishorn hér að neðan</p>
                <div class="col-lg-6">
                    <div class="input-group">
                        <label for="number">
                            Númer textasetningu
                            <input type="text" class="form-control" name="number" />
                        </label>
                    </div>



                    <div class="input-group">
                        <label for="startTime">
                            Byrjunartími textors
                            <input type="text" class="form-control" name="startTime">
                            <span class="input-group-addon">00:00:00,000</span>
                        </label>
                    </div>


                    <div class="input-group">
                        <label for="endTime">
                            Endatími textors
                            <input type="text" class="form-control" name="endTime">
                            <span class="input-group-addon">00:00:00,000</span>
                        </label>
                    </div>
                    <div class="input-group">
                        <label for="text">
                            Textorinn skal skrifaður hér
                            <input type="text" class="form-control" name="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    }
}


