﻿body 
{
    padding-top:40px;
    padding-bottom: inherit;
     text-align: center;
     
}
* 
{ 
    margin: 0; 
    padding: 0; 
}

h1 
{ 
	width: 660px; 
	margin: 0 auto;
	padding: 20px 0;
	color: #000000;
}
div 
{
    display: block;
}
/*---stickyfoooter----*/
*{
	margin: 0;
}
html, body {
	height: 100%;
    color:#000000;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    display:block;
}
.footer, .push {
	height: 20px; /* .push must be the same height as .footer */
}
container
{
    height:auto;
}
.body-content 
{
    padding-left: 10px;
    padding-right: 10px;

    border-top:solid;
    width:inherit;
    height:572px;
    color:#000000;
}

.dropdown
{
    position:fixed;
}
.nav navbar-nav
{
    color: #000000;
    width:100%;
}
.container
{
    border-bottom:thin;
}
.navbar navbar-default navbar-fixed-top
{
    color:#000000;
}


body > div.container.body-content > div > ul > li
{
   
    text-align:left;
   
}

body > div.container.body-content > ul > li
{
    background-color:#C0C0C0;
    border-color:#584E56;
    
}
.jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 9px;
    font-size: 8pt;
    background-color: #710079;
}    
/*---faqlist----*/
.faqList
{
    text-align:left;
}
.faqList dt
{
    margin-top:20px;
    text-align:left;
}
/* Set padding to keep content from hitting the edges */

.container body-content
{
    width:inherit;
    height:auto;
    height:572px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 1200px;
}

/* styles for validation helpers */
.field-validation-error 
{
    color: #b94a48;
}

.field-validation-valid 
{
    display: none;
}

input.input-validation-error 
{
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error 
{
    border: 0 none;
}

.validation-summary-errors 
{
    color: #b94a48;
}

.validation-summary-valid 
{
    display: none;
}
/*-----------nav bar--------------*/

.navbar-right
{
    position:fixed;
    right:0;
   
}
.nav navbar-nav
{
    border:initial;
}
.navbar navbar-default navbar-fixed-top
{
    border-bottom-color:#710079;
    border-bottom:inherit;
    color:#000000;
}
a
{
    color: #710079;
}


/*------Search--------*/

.searchwrapper
{
    display:inline-block;
    
}


.form-horizontal
{
    display:inline-block;
    width:50%;
    padding-top:5em;
    padding-bottom:5em;
}
/*-------linkar>-----*/
nav
{
    width:100%; 
    text-align:center;
    color:#000000;
}
nav ul 
{
    float:right; 
    line-height:50px;
}
nav li 
{
    display:inline; 
    list-style-type:none;
}

nav a 
{
    text-decoration: none;
    padding: 10px;
    color: #710079;
    font-family: sans-serif;
}

nav a:hover 
{
    color:#710079;
}
@media screen and (max-width:768px)
{
  #brand 
{
    margin-top:-50px;
}
nav{}
nav ul 
{
    float:none; 
    margin-top:50px;
    background-color:#D1D4CF;
}
nav li 
{
    display:inline; 
    list-style-type:none;
}

nav a 
{
    text-decoration:none; 
    padding:10px; 
    color:#710079;
    font-family:sans-serif;
}
nav a:hover 
{
    color:#710079;
}
}

/*-----category-----*/
ul
{
    list-style-type: none;
}

/*---request-------*/
.form-group
{
    margin:0;
    padding:0;
}
#requests
{
    border: 2px solid;
    width:199px;
    height:257px;
    padding-bottom:54px;
}

.input-group-addon
{
    width:0.5em;
    height:0.5em;
}
.input-group
{
   display:inherit;
}
.form-group
{
  
   position:relative;
}

.toBeTranslated
{
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 15px;
    height: 150px;
    text-align: left;
    border: #710079 2px solid;
    border-collapse: collapse;
    width: 560px;
}

.translated
{
    padding-top: 10px;
    padding-left: 5px;
    height: 150px;
    border-radius: 15px;
    text-align: left;
    border: #710079 2px solid;
    border-collapse: collapse;
    width: 560px;
}

.translatebox
{
    width: 480px;
    height: 60px;
    margin-bottom: 5px;
    padding: 0;
    vertical-align: top;
}

#site-footer
{
    width: 100%;
    position: fixed;
    bottom: -15px;
    padding-top: 15px;
    clear: both;
    background: #FFFFFF;
    margin-top: 0;
    padding-top: 0;

}

fieldset 
{
    position:relative;
    text-align: center;
    align-content: center;
}

legend
{
    border-radius: 15px;
    width:240px;
    padding: 7px;
    font-size: 16px;
    border: #710079 2px solid;
}

input[type="file"] 
{
    display: inline;
}

.comments
{
    padding-left: 30px;
    text-align: center;
    border-collapse: collapse;
    border: #710079 2px solid;
    border-radius: 15px;
}

.postComment
{
    padding: 5px;
    border-collapse: collapse;
    border: #710079 2px solid;
    border-radius: 15px;
}
.postComment textarea
{
    width: 90%;
    height: 100px;
    margin-bottom: 5px;
    padding: 0;
    vertical-align: top;
}

.commentUserName
{
    margin-top: 10px;
    font-weight: bold;
    color: #710079;    
}

.commentText
{
    font-style: italic;
    border-collapse: collapse;
    border: #710079 1px groove;
    border-radius: 15px;
    width: 50%;
    padding: 5px;
}

.commentTimeStamp
{
    font-size: 10px;
    color: #710079;
    padding: 1px;
    border-collapse: collapse;
    border: #710079 1px groove;
    border-radius: 15px;
    width: 11%;
}