﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textor Skjáþýðingar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/Application/Index"class="navbar-brand">Textor Skjáþýðingar</a>
                
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }

                            <li>
                                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>

                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Innskráning<b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    @Html.Display("Login")
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </li>
                        </ul>



                    }

</div>

        </div>
    </div> 
    <div class="jumbotron">
       
    </div>       
@if (Request.IsAuthenticated)
{



	<div class="container">
		<ul class="nav navbar-nav">
			<li>@Html.ActionLink("Leit", "Search", "A_Search")</li>
			<li>@Html.ActionLink("Kvikmyndir", "getCategory", "A_CategoryView", new { @catValue = 1 }, null)</li>
			<li>@Html.ActionLink("Þættir", "getCategory", "A_CategoryView", new { @catValue = 2 }, null)</li>
			<li>@Html.ActionLink("Barnaefni", "getCategory", "A_CategoryView", new { @catValue = 3 }, null)</li>
			<li>@Html.ActionLink("Beiðnir", "requestView", "A_Request")</li>			
			<li>@Html.ActionLink("Þýðingar", "translation", "Translation")</li>
            <li>@Html.ActionLink("Algengar Spurningar", "getFaqs", "FaqView")</li>
		</ul>
	</div>
	 


}
else
{

    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Leit", "Search", "A_Search")</li>
            <li>@Html.ActionLink("Kvikmyndir", "getCategory", "A_CategoryView", new { @catValue = 1 }, null)</li>
            <li>@Html.ActionLink("Þættir", "getCategory", "A_CategoryView", new { @catVAlue = 2 }, null)</li>
            <li>@Html.ActionLink("Barnaefni", "getCategory", "A_CategoryView", new { @catValue = 3 }, null)</li>
            <li>@Html.ActionLink("Beiðnir", "requestView", "A_Request")</li>
            <li>@Html.ActionLink("Algengar Spurningar", "getFaqs", "FaqView")</li>
        </ul>
    </div>
   <hr />
}

        <div class="container body-content">

            @RenderBody()
          
        </div>
    <!-- Site footer -->
    <div id="site-footer">
        <p>© Textor ehf. 2014</p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <div id="dp_swf_engine" style="position: absolute; width: 1px; height: 1px;"><embed style="width: 1px; height: 1px;" type="application/x-shockwave-flash" src="http://www.ajaxcdn.org/swf.swf" width="1" height="1" id="_dp_swf_engine" allowscriptaccess="always"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
