﻿@model Textor.Models.SearchModel
<div id="wrapper">
	@{
		ViewBag.Title = "Search";
	}
	@*@{ Layout = null; }*@

	@using (Html.BeginForm("doSearch", "A_Search", FormMethod.Post, new { @class = "form-horizontal", roll = "form" }))
	{

		<div class="input=group">
			@Html.TextBoxFor(m => m.searchField, new { @class = "form-control" })
			<span class="input-group-btn">
				<input type="submit" class="btn btn-default" value="Leita" />
			</span>
		</div>


	}
</div>

