﻿@model Textor.Models.CategoryResult
	@if (Model.categoryValue == 1)
	{
        <ul class="nav nav-list bs-docs-sidenav affix">
			<li>
				@Html.ActionLink("Spennumyndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 1 }, null)
			</li>

			<li>
				@Html.ActionLink("Gamanmyndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 2 }, null)
			</li>

			<li>
				@Html.ActionLink("Dramamyndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 3 }, null)
			</li>
			<!-- Kemur í version 2
			<li>
				@Html.ActionLink("Hryllingsmyndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 4 }, null)
			</li>

			<li>
				@Html.ActionLink("Ástarmyndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 5 }, null)
			</li>

			<li>
				@Html.ActionLink("Sci-fi myndir", "getCategory", "A_CategoryView", new { @catValue = 1, @groValue = 6 }, null)
			</li>
			-->
			<li>
				@Html.ActionLink("Allar myndir", "getCategory", "A_CategoryView", new { @catValue = 1 }, null)
			</li>
		</ul>
	}
	else if (Model.categoryValue == 2)
	{
		<ul class="nav nav-list bs-docs-sidenav affix">
			<li>
				@Html.ActionLink("Spennuþættir", "getCategory", "A_CategoryView", new { @catValue = 2, @groValue = 1 }, null)
			</li>

			<li>
				@Html.ActionLink("Gamanþættir", "getCategory", "A_CategoryView", new { @catValue = 2, @groValue = 2 }, null)
			</li>

			<li>
				@Html.ActionLink("DramaÞættir", "getCategory", "A_CategoryView", new { @catValue = 2, @groValue = 3 }, null)
			</li>
			<!-- Kemur í version 2
			<li>
				@Html.ActionLink("Hryllingsþættir", "getCategory", "A_CategoryView", new { @catValue = 2, @groValue = 4 }, null)
			</li>
			<li>
				@Html.ActionLink("Sci-fi Þættir", "getCategory", "A_CategoryView", new { @catValue = 2, @groValue = 5 }, null)
			</li>
			-->
			<li>
				@Html.ActionLink("Allir þættir", "getCategory", "A_CategoryView", new { @catValue = 2 }, null)
			</li>
		</ul>
	}
	else if (Model.categoryValue == 3)
	{
		<ul class="nav nav-list bs-docs-sidenav affix">
			<li class="active">
				@Html.ActionLink("Teiknimyndir", "getCategory", "A_CategoryView", new { @catValue = 3, @groValue = 3 }, null)
			</li>
			<li>
				@Html.ActionLink("Leikið efni", "getCategory", "A_CategoryView", new { @catValue = 3, @groValue = 4 }, null)
			</li>

			<li>
				@Html.ActionLink("Barnaþættir", "getCategory", "A_CategoryView", new { @catValue = 3, @groValue = 5 }, null)
			</li>

			<li>
				@Html.ActionLink("Allt barnaefni", "getCategory", "A_CategoryView", new { @catValue = 3 }, null)
			</li>
		</ul>
	}
	<div class="wrapper">
		<div class="span9">
			<ul>
				@if (Model != null)
				{
					for (var i = 0; i < Model.mediaList.Count(); i++)
					{
						<li>
							@Html.ActionLink(@Model.mediaList[i].mediaName, "viewFiles", "FileView", new { @mediaId = @Model.mediaList[i].mediaID }, null)
						</li>
					}
				}
			</ul>
		</div>
	</div>
