﻿@model Textor.Models.A_CommentViewModel


<div class="list-group" style="max-width: 560px;">
    <div id="comments"></div>
    <div id="newcomment">
        <div class="list-group-item">
            <div class="form-horizontal">
                <label class="sr-only" for="CommentText">Comment</label>
                <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                <button type="button" id="btnSave" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div> 