﻿@model IEnumerable<Textor.Models.SearchResult>
@{
	ViewBag.Title = "SearchResult";
}
<div class="col-lg-8">
	<div class="container">
		<table class="table">
			@if(Model != null)
			{
				if(Model.Count() != 0)
				{
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.mediaName)
						</th>
					</tr>
					foreach (var item in Model)
					{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.mediaName)
						</td>
						<td>
							@Html.ActionLink("get Files", "viewFiles", "FileView", new { @mediaId = @item.mediaId }, null)
						</td>
					</tr>
					}
				}
				else
				{
				<tr>
					<td>
						<p> 
							Því miður fundust engar niðurstöður fyrir umbeðin leitarskilyrði
							vinsamlegast reynið aftur. 
						</p>
					</td>
				</tr>
				}
			}
				<tr>
					<td>
						<a href="/A_Search/Search">Ný Leit</a>
					</td>
				</tr>
		</table>
	</div>
</div>
