﻿@model Textor.Models.CommentViewList
<div class="container">

    @if (Model.commentModelList.Count() != 0)
    {
        <ul class="comments">
            @for (var i = 0; i < Model.commentModelList.Count(); i++)
            {
                <li>
                    <div class="commentUserName">@Model.commentModelList[i].userName, sagði:</div>
                    <div class="commentText">@Model.commentModelList[i].comment</div>
                    <div class="commentTimeStamp">@Model.commentModelList[i].dateCreated</div>
                </li>
            }

        </ul>
    }
</div>
<div class="container">
    <div class="postComment">
        @using (Html.BeginForm("addCommentById", "A_CommentView", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <input type="hidden" name="translationId" value="@Model.translationId" />
            <div>
                <label for="text">Skrifaðu þína skoðun.</label>
            </div>
            <div>
                @Html.TextArea("text", "", null)
            </div>

            <div>
                <input type="submit" value="Submit Comment" class="btn btn-default" />
            </div>


        }
    </div>
</div>