﻿<div class="container">
    <div class="input-group">
        @using (Html.BeginForm("newTranslation", "Translation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)



            //Media name
            <label for="mediaName">Nafn: </label>
            <input name="mediaName" type="text" />

            //Language select
            <select name="languageId">
                <option value="1">Icelandic</option>
                <option value="2">English</option>
                <option value="3">French</option>
            </select>

            //Category value
            <select name="categoryValue">
                <option value="1">Kvikmyndir</option>
                <option value="2">Þættir</option>
                <option value="3">Barnaefni</option>
            </select>


            //Group value
            <select name="groupValue">
                <option value="1">Spennu</option>
                <option value="2">Gaman</option>
                <option value="3">Drama</option>
                <option value="4">Leikið barna</option>
                <option value="5">Teiknimyndir</option>
                <option value="6">Barna Þættir</option>
            </select>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit Translation" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
   </div>
