﻿@{
    ViewBag.Title = "Index";
}
<div id="wrapper">
    <div>
         @{Html.RenderPartial("doSearch");}
        <h4>
            Textor.is er íslensk síða sem gerir notendum kleift að sækja og/eða þýða erlendar textaskrár til þess að spila með myndefni.
        </h4>
    </div>
</div>





