﻿@model IEnumerable<Textor.Models.CategoryViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mediaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mediaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.translationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mediaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mediaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.translationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
