﻿@model IEnumerable<Textor.Models.A_RequestModel>
@{ Layout = null; }
<div class="container">

	@if (Model != null)
	{
		<table class="table">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.mediaName)
					</td>
					<!--<td> coming in version 2 soon(tm)
					   @* @Html.DisplayFor(modelItem => item.rating)*@
					</td>-->
					@if (Request.IsAuthenticated)
                    {
					<td>
						@Html.ActionLink("comments", "getCommentsById", "A_CommentView", new { @requestId = @item.requestId }, null)
					</td>
					<td>
						@Html.ActionLink("get Files", "viewFiles", "FileView", new { @mediaId = @item.mediaId }, null)
					</td>
					}
				</tr>
			}
		</table>
	}
	else
	{
		<table class="table">
			<tr><td>No requests available</td></tr>
		</table>
	}
	</div>
