﻿﻿@model Textor.Models.A_RequestModel
<div class="container">

	@using (Html.BeginForm("postRequest", "A_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<fieldset>
			<hr />
			@Html.ValidationSummary(true)
            <fieldset>
                <legend>Mynd/myndkeið</legend>
                <div class="input-group">
                    @Html.LabelFor(model => model.mediaName, "Nafn Myndar")
                        @Html.EditorFor(model => model.mediaName)
                        @Html.ValidationMessageFor(model => model.mediaName)
                </div>

                <div class="input-group" >
                    @Html.LabelFor(model => model.referenceLink, "Slóð á mynd eða myndskeið")
                        @Html.EditorFor(model => model.referenceLink)
                        @Html.ValidationMessageFor(model => model.referenceLink)
                </div>
            </fieldset>

            <fieldset>
                <legend>Tegund Myndar/myndskeiðs</legend>
                <label for="categoryValue">Flokkur myndar/myndskeiðs</label>
                <select name="categoryValue">
                    <option value="1">Kvikmyndir</option>
                    <option value="2">Þættir</option>
                    <option value="3">Barnaefni</option>
                </select>
                <br />

                <label for="groupValue">Undiflokkur myndar eða myndskeiðs</label>
                <select name="groupValue">
                    <option value="1">Spennu</option>
                    <option value="2">Gaman</option>
                    <option value="3">Drama</option>
                    <option value="4">Leikið barna</option>
                    <option value="5">Teiknimyndir</option>
                    <option value="6">Barna Þættir</option>
                </select>
            </fieldset>

			@if (Request.IsAuthenticated)
            {
            <fieldset>
                <legend>Sendu inn skrá sem þú villt fá þýdda, ath einungis .srt skrár</legend>
                <div class="fileUploadButton">
                    <input type="file" name="File" />
                    @*@Html.TextBoxFor(model => model.File, new { type = "file" })      *@
                    @*@Html.ValidationMessageFor(model => model.File)                   *@
                </div>                   


    <div class="input-group">
        @Html.LabelFor(model => model.srtLang, "Tungumál sem skráin er á")
        <select name="srtLang">
            <option value="Icelandic">Íslenska</option>
            <option value="English">Enska</option>
            <option value="French">Franska</option>
        </select>
            @*@Html.EditorFor(model => model.srtLang)                   *@
            @*@Html.ValidationMessageFor(model => model.srtLang)        *@
                </div>
            </fieldset>
            }
            <div class="fileUploadButton">
                <input type="submit" value="Búa til beiðni" class="btn btn-default" />
            </div>

		</fieldset>
	}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>
